.contianer-fluid {
  tr {
    @media screen and (max-width: 700px) {
      border-top: 2px solid black;
    }
    th {
      @media screen and (max-width: 700px) {
        display: none;
      }
      font-size: 1rem;
      font-weight: bolder;
      .headers {
        display: flex;
        align-items: center;
        margin: 0;
        .material-icons {
          cursor: pointer;
        }
        .flip {
          transition: transform 0.8s;
          transform: rotatez(180deg);
        }
      }
    }
    td {
      @media screen and (max-width: 700px) {
        display: block;
      }
      font-size: 0.9rem;
      font-weight: bold;
      opacity: 0.9;
      cursor: pointer;
      img {
        width: 4rem;
      }
      .mobile-view-header {
        opacity: 0.6;
        @media screen and (min-width: 700px) {
          display: none;
        }
      }
    }
  }
}
