<section>
    <div class="container-fluid ">
        <div class="sec-one d-flex">
            <div class="header">About Us</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat eligendi
                incidunt qui placeat. Magnam aspernatur placeat alias unde nulla! Beatae quaerat harum provident dolor
                odit
                non amet exercitationem consectetur!</div>
            <div class="buttoon">
                <div class="btn btn-primary" (click)="readMore()">Read More</div>
            </div>

        </div>
        <div class="sec-tow">
            <img width="100%" src="../../../assets/pics/icons/shutterstock_1721774113.jpg" alt="engineer">

        </div>

    </div>
</section>