<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first mt-2">
            <img src="../../../../assets/pics/icons/customer.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
            <input type="text" id="login" class="fadeIn second" name="userName" placeholder="user name" #login="ngModel"
                ngModel required>
            <!-- <span class="errorspan" *ngIf="!login.valid && login.touched">please enter user name</span> -->
            <span class="errorspan" *ngIf="!login.valid">user name is admin</span>
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password"
                #password="ngModel" ngModel required>
            <!-- <span class="errorspan" *ngIf="!password.valid && password.touched">please enter
                password</span> -->
            <span class="errorspan" *ngIf="!password.valid">password is 12345</span>
            <div class="form-check my-2">
                <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="rememberMe"
                    #rememberMe="ngModel" ngModel>
                <label class="form-check-label" for="rememberMe">
                    remember me
                </label>
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="f.invalid">

        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" (click)="forgetPassword()">Forgot Password?</a>
        </div>

    </div>
</div>