<section>
    <div class="container-fuild">
        <div class="row">
            <div class="sec-one col-12">
                <img class="customer-img" src="../../../assets/pics/icons/customer.png" alt="customer">
                <span class="customer-text"> Customers</span>
            </div>
        </div>
        <div class="sec-tow row px-5 mt-3">
            <nav class="nav col-md-7">
                <div class="item-1" [ngClass]="selectedView==='card'? 'active' : ''">
                    <a (click)="selectView('card')" class="row">
                        <img src="../../../assets/pics/icons/show-all-views.png" />
                        <span>Card View</span>
                    </a>
                </div>
                <div class="item-2" [ngClass]="selectedView==='list'? 'active' : ''">
                    <a (click)="selectView('list')" class="row">
                        <img src="../../../assets/pics/icons/day-view.png" />
                        <span>List View</span>
                    </a>
                </div>
                <div class="item-3" [ngClass]="selectedView==='map'? 'active' : ''">
                    <a (click)="selectView('map')" class="row">
                        <img
                            src="../../../assets/pics/icons/external-map-pin-basic-ui-elements-flatart-icons-outline-flatarticons.png" />
                        <span>Map View</span>
                    </a>
                </div>
                <div class="item-4" [ngClass]="selectedView==='addCustomer'? 'active' : ''">
                    <a (click)="selectView('addCustomer')" class="row">
                        <img src="../../../assets/pics/icons/external-add-mintab-for-ios-becris-lineal-becris-2.png" />
                        <span>New Customer</span>
                    </a>
                </div>
            </nav>
            <div class="Search col-md-5" *ngIf="!(selectedView === 'addCustomer')">
                <div>
                    <div>Filter:</div>
                    <input type="text" #myInput (keyup.enter)="search(myInput.value)">
                    <a class="Search-btn" (click)="search(myInput.value)"><img src="../../../assets/pics/icons/search.svg" /></a>
                </div>

            </div>
        </div>
        <div class="row pl-3 my-1 sec-three" *ngIf="isCustomers">
            <div class="col-12">
                <!-- <router-outlet></router-outlet> -->
                <app-card-view *ngIf="selectedView === 'card'" [customers]="customers"
                    (customerSelected)="customerSelected.emit($event)"
                    (customerDetailsView)="customerDetailsView.emit($event)"></app-card-view>
                <app-list-view *ngIf="selectedView === 'list'" [customers]="customers"
                    (customerSelected)="customerSelected.emit($event)"
                    (customerDetailsView)="customerDetailsView.emit($event)"></app-list-view>
                <app-map-view *ngIf="selectedView === 'map'" [customers]="customers"
                    (customerSelected)="customerSelected.emit($event)"
                    (customerDetailsView)="customerDetailsView.emit($event)"></app-map-view>
                <!-- <app-new-customer *ngIf="selectedView === 'addCustomer'"></app-new-customer> -->
            </div>
        </div>
        <!-- make new design validation on addCustomerView for better user experince -->
        <div class="row pl-3 my-5 sec-three" *ngIf="selectedView === 'addCustomer'">
            <div class="col-12">
                <!-- RECALL customer when get out of add customer -->
                <app-new-customer (CancelEditing)="selectedView = 'card'" (CancelEditing)="getCustomers()">
                </app-new-customer>
            </div>
        </div>
        <div class="empty" *ngIf="!isCustomers && !(selectedView === 'addCustomer')">there is no customers to view</div>
    </div>
</section>

<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>