.container-fluid {
  .header {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    @media screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
      line-height: 2rem;
    }
  }
  .body {
    margin-top: 5rem;
    tr {
      font-size: 1rem;
      font-weight: bolder;
      line-height: 2.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      &.total {
        border-top: 3px solid black;
      }
    }
  }
}
