<section>
    <div class="container-fluid" *ngIf="!isLoading">
        <div *ngIf="orders">
            <div class="header">
                <span> Oders for </span> <span>{{customerFullName}}</span>
            </div>
            <table class="table table-striped">

                <tbody class="body">
                    <tr class="d-flex justify-content-between" *ngFor="let item of orders.items">
                        <div>{{item.itemName}}</div>
                        <div>{{item.itemOrderedQuantity}} * {{item.itemPrice}}$</div>
                    </tr>
                    <tr class="total d-flex justify-content-end">
                        {{this.orders.total}}$
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="header" *ngIf="!orders"> <span>{{customerFullName}}</span> <span> has no
                orders</span>
        </div>
    </div>
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
</section>